@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenue!</h1>
    <p> <br /> <br /></p>
    <p><a href="/Commandes/create" class="btn btn-primary btn-lg">Encodez une commande &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A propos</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact</a></p>
    </div>
</div>